@import "./pages/Home/home.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;

  font-family: 'Roboto', sans-serif;
  --off-hover: #C4C4CC;
  --on-hover: #fff;
  --text-color: #E1E1E6;

}

body {
  background: rgb(143, 139, 139);
  background-position: center;
  background-image: url("./assets/img/mountains-universe-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.6rem;
  height: 100vh;
  overflow-y: hidden;
}

body.universe {
  background: url("./assets/img/mountains-universe-2.png");
  background-size: cover;
    background-repeat: no-repeat;
}

body.exploration {
  background: url("./assets/img/mountains-universe-3.png");
  background-size: cover;
}

header {
  align-items: center;
  display: flex;
  font-size: 2rem;

  gap: 3.2rem;

  padding: 4rem 0 4rem 7.2rem;

}

header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

#app .content{ 
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  height: 100%;
  padding-top: 17.2rem;
  justify-content: center;
}

a {
  color: var(--off-hover);
  font-weight: 400;
  text-decoration: none;
  transition: all .950s ease;
}

a.active {
  color: var(--on-hover);
  font-weight: 700;
  transform: scale(1.1);
}

.home h1 {
  color: var(--text-color);
  font-size: 4.8rem;
  font-weight: 700;
}

.content p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  width: 64.8rem;
}

.home button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: .5rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.2rem 3.2rem;
}

